<!-- Main Container  -->
<div class="home-container">
  <!-- Header Section  -->
  <header class="home-header">
    <h1>📚 Welcome to Your Digital Library</h1>
    <p>Unleash the power of reading and discover endless knowledge!</p>
    <button routerLink="books" routerLinkActive="active" class="explore-btn">Start Exploring</button>
  </header>
<!-- Features Section  -->
  <section class="features">
    <div class="feature">
      <img src="/reading-book.png" alt="Reading Icon">
      <h3>Explore Books</h3>
      <p>Dive into a vast collection of books across all genres.</p>
    </div>
    <div class="feature">
      <img src="/book.png" alt="Knowledge Icon">
      <h3>Gain Knowledge</h3>
      <p>Enhance your skills and stay updated with the latest insights.</p>
    </div>
    <div class="feature">
      <img src="/community.png" alt="Community Icon">
      <h3>Join Community</h3>
      <p>Connect with like-minded readers and share your passion.</p>
    </div>
  </section>

</div>
